<!--Image Carousel -->

<div id="imageSlider" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#imageSlider" data-slide-to="0" class="active"></li>
    <li data-target="#imageSlider" data-slide-to="1"></li>
    <li data-target="#imageSlider" data-slide-to="2"></li>
    <li data-target="#imageSlider" data-slide-to="3"></li>
    <li data-target="#imageSlider" data-slide-to="4"></li>
    <li data-target="#imageSlider" data-slide-to="5"></li>
    <li data-target="#imageSlider" data-slide-to="6"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="assets/images/bag1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/belts1.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/belts2.jpg" alt="fourth slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/wallet1.jpg" alt="fifth slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/wallet2.jpg" alt="sixth slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/watch1.jpg" alt="seventh slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/watch2.jpg" alt="eighth slide">
    </div>
  </div>
  <hr>
</div>

<!--Featured and New-->
<section class="info">
<div class="container-fluid featured">
  <div class="row">
    <div class="col-lg-3">
      <div class="card" style="width: 23.5rem; height: 345px">
        <div class="card-body">
          <h2 class="card-title">Featured Products</h2>
          <h2 class="card-subtitle mb-2 text-muted">Highly Recommended</h2>
          <h3 class="card-text">Picked out from the top rated. Designed and Finished by the highly skilled. </h3>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="img-wrap">
        <img src="assets/watchStraps/6.jpg">
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card" style="width: 23.5rem; height: 345px">
        <div class="card-body">
          <h2 class="card-title">New Arrivals</h2>
          <h2 class="card-subtitle mb-2 text-muted">Highly Recommended</h2>
          <h3 class="card-text">Picked out from the top rated. Designed and Finished by the highly skilled. </h3>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="img-wrap">
        <img src="assets/bags/10.jpg">
      </div>
    </div>

  </div>
</div>

<!--Products-->
<div class="container-fluid  prods">
  <div class="row">
    <div class="col-lg-8">
      <div class="card bg-dark text-dark">
        <div class="img-wrap-2">
          <img class="card-img" src="assets/images/duffle03.jpg" alt="Card image" class="img-responsive">
        </div>
        <div class="card-img-overlay bag">
          <h5 class="card-title text-bold">Leather Bags</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <a routerLink="/bags" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-dark text-white">
        <div class="img-wrap-2">
          <img class="card-img" src="assets/images/horse-wallet1.jpg" alt="Card image" class="img-fluid">
        </div>
        <div class="card-img-overlay wallet">
          <h5 class="card-title">Leather Wallets</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <a routerLink="/wallets" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card bg-dark text-white">
        <div class="img-wrap-2">
          <img class="card-img" src="assets/images/7.jpg" alt="Card image">
        </div>
        <div class="card-img-overlay belt">
          <h5 class="card-title">Leather Belts</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <a routerLink="/belts" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card bg-dark text-dark">
        <div class="img-wrap-2">
          <img class="card-img" src="assets/images/leatherstrap.jpg" alt="Card image">
        </div>
        <div class="card-img-overlay watch">
          <h5 class="card-title">Leather Watch Straps</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <a routerLink="/wstraps" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
