<footer id="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col lg 3 col md 6 footer-info">
          <h3>Company Name</h3>
          <p>Lorem ipsum</p>
        </div>
        <div class="col lg 3 col md 6 footer-links">
          <div class="ulinewidth"><h4>Useful Links</h4></div>
          <ul>
            <li><i class="fa fa-arrow-right"></i><a href="#">Home</a> </li>
            <li><i class="fa fa-arrow-right"></i><a href="#">Product</a> </li>
            <li><i class="fa fa-arrow-right"></i><a href="#">About Us</a> </li>
            <li><i class="fa fa-arrow-right"></i><a href="#">Enquiry</a> </li>
            <li><i class="fa fa-arrow-right"></i><a href="#">Contact US</a> </li>
          </ul>
        </div>
        <div class="col lg 3 col md 6 footer-contacts">
          <h4>Follow US</h4>
          <a href="#" class="twitter">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
          </a>
          <a href="#" class="facebook">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" class="instagram">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" class="google-plus">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" class="linkedin">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
          </a>
        </div>
        <div class="col lg 3 col md 6 footer-newsletter">
          <h4>Our NewsLetter</h4>
          <p>Lorem ipsum</p>
          <form action="" method="POST">
            <input type="email" name="email"><input type="button" value="subscibe">
          </form>
        </div>
      </div>
    </div>
  </div>
<p class="copyright text-muted">Copyright &copy;Website Name 2019</p>
</footer>
